[submodule ".config/zsh/plugins/zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:sebmentation-fault/config.nvim.git
